<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<p>
  Para poder conocer en profundidad esta aplicacion te ofrecemos el siguiente resument.
  Control-8 (Control-ate) te permite llevar un listado actualizado de los gastos mensuales que has realizado.
</p>
